@import "../styles/globalColor.scss";
.headcontainer {
  width: 100vw;
  position: fixed;
  z-index: 30;
  height: 80px;
  top: 0;
  :global {
    h1 {
      height: 100%;
      line-height: 100%;
      display: block;
      position: relative;
      img {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // height: 100%;
        width: 100%;
        max-width: 500px;
      }
    }
  }
}
.yellow {
  background-color: $bgc-yellow;
}
.green {
  background-color: $bgc-green;
}