// xdでデザインしたもののサイズによって、高さを計算するやつです。
@function vw($px) {
  @return ($px / 428) * 100vw;
}
@function vh($px) {
  @return ($px / 926) * 100vh;
}
$bgc-green: #ecf6e0;
$bgc-yellow: #fbf5d5;
$bgc-blue: #5191cf;
$btn-green: #53a849;
$text-orange: #df7c3e;
$burger-content-bgc: rgba(255, 255, 255, 0.9);
// キャッチフレーズの色
$catch-color: $text-orange;
$catch-text-color: #000;
// Homeページのボタンの色
$home-btn-color: $text-orange;
// Venueページのメニュー色
$venue-menu-first: $text-orange;
$venue-menu-second: $bgc-blue;