@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import './globalColor.scss';
* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Yusei Magic", sans-serif;
  transition: all 0.25s 0s;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
img,
video {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
