@import "./globalColor.scss";
.venuecontainer {
  background-color: $bgc-yellow;
  :global {
    main {
      max-width: 768px;
      margin: 80px auto 0;
      .switchbar {
        ul {
          display: flex;
          flex-direction: row;
          li {
            flex: 1;
            text-align: center;
            font-size: 1.875rem;
            background-color: pink;
            &:nth-child(2) {
              background-color: skyblue;
            }
          }
        }
      }
      .content {
        width: 100%;
        .maincontent {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            margin-bottom: vh(40);
            font-size: vh(40);
          }
          .time1 {
            width: 100%;
            h3 {
              font-size: vh(36);
              text-align: center;
              margin-bottom: vh(22);
            }
            dl {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: vh(80);
              dt {
                margin-top: vh(30);
              }
              dd {
                margin-top: vh(26);
              }
            }
          }
          .time2 {
            width: 100%;
            h3 {
              font-size: vh(30);
              text-align: center;
              margin-bottom: vh(22);
            }
            ul {
              width: 100%;
              text-align: center;
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: vh(80);
              font-size: vh(22);
              li {
                width: 100%;
                margin-top: vh(24);
                span {
                  position: relative;
                }
                @for $i from 1 through 4 {
                  &:nth-child(#{$i}) {
                    span::after {
                      content: "";
                      display: block;
                      position: absolute;
                      right: -26px;
                      top: 5px;
                      width: vh(24);
                      height: vh(24);
                      border-radius: 50%;
                      border: 1px solid #ccc;
                    }
                  }
                }
                &:nth-child(1) span::after {
                  background-color: #6888ff;
                }
                &:nth-child(2) span::after {
                  background-color: #ffffff;
                }
                &:nth-child(3) span::after {
                  background-color: #ff6975;
                }
                &:nth-child(4) span::after {
                  background-color: #fef342;
                }
              }
            }
          }
          .colorteam {
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
              font-size: vh(30);
              text-align: center;
              margin-bottom: vh(22);
            }
            section {
              margin-bottom: vh(40);
              border-radius: 3px;
              padding: vh(10) vh(30);
              width: vw(250);
              max-width: 430px;
              h4 {
                text-align: center;
                font-size: vh(26);
                margin-bottom: vh(20);
              }
              ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: vh(20);
                gap: vh(10);
              }
              &.blue {
                background-color: #6888ff;
              }
              &.white {
                background-color: #ffffff;
              }
              &.red {
                background-color: #ff6975;
              }
              &.yellow {
                background-color: #fef342;
              }
            }
          }
          .tonext {
            position: relative;
            font-size: vh(28);
            margin-bottom: vh(50);
            a {
              color: #000;
            }
            &::after {
              content: "";
              display: block;
              position: absolute;
              right: -24px;
              top: 5px;
              width: 22px;
              height: 22px;
              background: url("/images/btn_after.svg") no-repeat;
              background-size: contain;
            }
          }
        }
      }
      .content1 {
        display: none;
        .maincontent {
          left: 0;
        }
        &.active {
          display: flex;
        }
      }
      .content2 {
        display: none;
        .maincontent {
          right: 0;
        }
        &.active {
          display: flex;
        }
      }
    }
    @media only screen and (min-width: 450px) {
      main {
        .content {
          .maincontent {
            h2 {
              font-size: 2.5rem;
            }
            .time1,
            .time2 {
              h3 {
                font-size: 1.875rem;
              }
            }
            .colorteam {
              h3 {
                font-size: 1.875rem;
              }
              section {
                h4 {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
