@import "./globalColor.scss";
.venuecontainer {
  background-color: $bgc-yellow;
  :global {
    main {
      margin: 80px auto 0;
      h2 {
        text-align: center;
        font-size: 2.1875rem;
        margin-bottom: vh(40);
      }
      .maintime {
        table {
          width: 90%;
          max-width: 768px;
          margin: 0 auto;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          border-collapse: collapse;
          text-align: center;
          font-weight: 200;
          caption {
            font-size: 1.875rem;
          }
          td,
          th {
            border: 2px solid rgba(0,0,0,0.5);
            font-weight: 400;
            padding: vh(10) 0;
          }
        }

      }
      .switchbar {
        max-width: 768px;
        position: sticky;
        top: 80px;
        z-index: 30;
        margin: vh(80) auto vh(40);
        ul {
          display: flex;
          flex-direction: row;
          li {
            flex: 1;
            text-align: center;
            font-size: 1.875rem;
            color: #000;
            background-color: $venue-menu-first;
            &:nth-child(2) {
              background-color: $venue-menu-second;
            }
            &.active {
              filter: drop-shadow(0 0 0.5rem $venue-menu-first);
            }
          }
        }
      }
      .outside {
        width: 100vw;
        overflow: hidden;
      }
      .movebox {
        transition: all 0.25s ease-in-out;
        transform: translateX(0);
        width: 200vw;
        overflow: hidden;
        &.active {
          transform: translateX(-100vw);
        }
      }
      .content {
        width: 100vw;
        float: left;
        .maincontent {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .time2 {
            width: 100%;
            h3 {
              font-size: 1.875rem;
              text-align: center;
              margin-bottom: vh(22);
            }
            ul {
              width: 100%;
              text-align: center;
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: vh(80);
              font-size: vh(22);
              li {
                width: 100%;
                margin-top: vh(24);
                span {
                  position: relative;
                }
                @for $i from 1 through 4 {
                  &:nth-child(#{$i}) {
                    span::after {
                      content: "";
                      display: block;
                      position: absolute;
                      right: -26px;
                      top: 5px;
                      width: vh(24);
                      height: vh(24);
                      border-radius: 50%;
                      border: 1px solid #ccc;
                    }
                  }
                }
                &:nth-child(1) span::after {
                  background-color: #6888ff;
                }
                &:nth-child(2) span::after {
                  background-color: #ffffff;
                }
                &:nth-child(3) span::after {
                  background-color: #ff6975;
                }
                &:nth-child(4) span::after {
                  background-color: #fef342;
                }
              }
            }
          }
          .colorteam {
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
              font-size: 1.875rem;
              text-align: center;
              margin-bottom: vh(22);
            }
            section {
              margin-bottom: vh(40);
              border-radius: 3px;
              padding: vh(10) vh(30);
              width: vw(250);
              max-width: 430px;
              h4 {
                text-align: center;
                font-size: vh(26);
                margin-bottom: vh(20);
              }
              ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: vh(20);
                gap: vh(10);
              }
              &.blue {
                background-color: #6888ff;
              }
              &.white {
                background-color: #ffffff;
              }
              &.red {
                background-color: #ff6975;
              }
              &.yellow {
                background-color: #fef342;
              }
            }
          }
        }
      }
      .content1 {
        .maincontent {
          left: 0;
        }
        &.active {
          display: flex;
        }
      }
      .content2 {
        .maincontent {
          right: 0;
        }
        &.active {
          display: flex;
        }
      }
      .tonext {
        text-align: center;
        font-size: vh(28);
        padding-bottom: vh(50);
        a {
          position: relative;
          color: #000;
          &::after {
            content: "";
            display: block;
            position: absolute;
            right: -22px;
            top: 4px;
            width: 22px;
            height: 22px;
            background: url("/images/btn_after.svg") no-repeat;
            background-size: contain;
          }
        }
      }
    }
    @media only screen and (min-width: 450px) {
      main {
        h2 {
          font-size: 2.5rem;
        }
        .content {
          .maincontent {
            .time2 {
              h3 {
                font-size: 2.1875rem;
              }
            }
            .colorteam {
              h3 {
                font-size: 1.875rem;
              }
              section {
                h4 {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
